@import "@/styles/colors.scss";
@import "@/styles/fonts.scss";

.container_breadcrumb {
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
  padding: 30px 10px;
  font-size: 14px;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    font-family: "Roboto", Arial;
    font-weight: bold;
  }
  .link {
    color: $black;
    font-family: "Roboto", Arial;
    font-weight: 300;
    text-decoration: none;
  }
  .icon {
    margin-left: 5px;
  }

  p {
    margin: 0;
  }
}
@media (max-width: 300px) {
  .container_breadcrumb {
    font-size: 10px;
  }
}
