@import "@/styles/fonts.scss";
@import "@/styles/colors.scss";

.card {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 120px;
  background-image: url("../../../public/icon/hammer.svg");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 115px;
  background-color: $blue;
  border-radius: 10px;
  h5 {
    margin: 0;
    font-weight: 700;
    font-family: "Roboto", Arial;
  }
  p {
    margin: 0;
  }
}
