@import "@/styles/colors.scss";
@import "@/styles/fonts.scss";

.input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding: 0 5px;
  border: 1px solid $grey;
  &:focus {
    outline: none;
  }
}