@import "@/styles/colors.scss";

.container_grid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  table {
    max-width: 500px;
    width: 100%;
    th {
      text-align: center;
      border: 1px solid $black;
<<<<<<< HEAD
=======
      padding: 12px 5px;
>>>>>>> c3b4410553d0bbaa9ebe94268610c96c22d98249
    }
    td {
      @extend th;
      .container_content {
        display: flex;
        justify-content: center;
        align-items: center;
        .label {
          margin-left: -14px;
        }
        .container_icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          margin: 0 10px;
          img {
            max-width: 24px;
            max-height: 24px;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .container_title {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          max-width: 100px;
          width: 100%;
          text-wrap: nowrap;
        }
        .container_title_mod {
          text-align: left;
          max-width: 100px;
          width: 100%;
          padding: 10px 0;
          p {
            margin: 0;
            line-height: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 310px) {
  .container_grid {
    table {
      td {
        .container_content {
          .container_title {
            font-size: 5.2vw;
          }
          .container_icon {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .container_grid {
    table {
      th {
        font-size: 4vw;
      }
    }
  }
}

@media (max-width: 390px) {
  .container_grid {
    table {
      th {
        font-size: 4vw;
      }
    }
  }
}
