@import "@/styles/colors.scss";
@import "@/styles/fonts.scss";

.container_title {
  display: flex;
  align-items: center;
  height: 70px;
  margin-top: 40px;
  color: $buttons_login;
  h2 {
    font-family: "Roboto Slab", Arial;
    font-weight: 700;
    font-size: 25px;
  }
}
