@import "@/styles/colors.scss";
@import "@/styles/fonts.scss";

.container_title {
  display: flex;
  align-items: center;
  height: 70px;
  margin-top: 20px;
  color: $buttons_login;
  .title {
    font-family: "Roboto Slab", Arial;
    font-weight: bold;
    font-size: 25px;
  }
}
