@import "@/styles/colors.scss";
@import "@/styles/fonts.scss";

.form {
  width: 100%;
  max-width: 520px;
  padding: 0 10px;
  .form_group {
    width: 100%;
    display: flex;
    gap: 20px;
    .form_column {
      width: 100%;
      display: flex;
      flex-direction: column;
      .label {
        font-size: 14px;
        font-weight: 700;
        color: $blue;
        margin: 10px 0;
      }
      .input {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        padding: 0 5px;
        border: 1px solid $grey;
        &:focus {
          outline: none;
        }
      }
      .input_double {
        @extend .input;
      }
      .container_inputs_flex {
        width: 100%;
        display: flex;
        gap: 20px;
        .classNameContentFlex {
          width: 100%;
        }
      }
    }
  }
  .btn {
    margin: 30px 0;
    width: 100%;
    height: 50px;
    background-color: $buttons_login;
    color: $white;
    border-radius: 5px;
    border: 2px solid transparent;
    font-family: $font_secondary;
    box-shadow: 2px 2px 5px 0px $buttons_shadow;
    transition: all 0.5s;
    &:hover {
      background-color: $buttons_hover;
      transition: all 0.5s;
    }
  }
}
