@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.container {
  width: 100%;
  height: 100%;
  .breadcrumb {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    gap: 5px;
    padding: 30px 20px;
    p {
      margin: 0;
    }
    span {
      color: $black;
      font-weight: 700;
    }
  }
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 80px 0;
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 420px;
      width: 100%;
      font-family: $font-primary;
      font-weight: bold;
      color: $blue;
      font-size: 32px;
    }
    .sub_title {
      text-align: center;
      padding: 0 10px;
    }
  }
  .container_form {
    margin: 0 auto;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .form_group {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        .label {
          font-size: 14px;
          font-weight: 700;
          color: $blue;
        }
        .input {
          width: 100%;
          height: 50px;
          border-radius: 5px;
          padding: 0 5px;
          border: 1px solid $grey;
          &:focus {
            outline: none;
          }
        }
      }
      .forget_password {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 5px;
        width: 100%;
        color: $blue_link;
        .link {
          text-decoration: none;
          cursor: pointer;
        }
      }
      .forget_email {
        @extend .forget_password;
        color: $light_black;
      }
      .container_buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 10px;
        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 50px;
          font-size: 14px;
          background-color: $buttons_login;
          font-family: $font-primary;
          border: 2px solid transparent;
          border-radius: 5px;
          box-shadow: 2px 2px 5px 0px $buttons_shadow;
          color: $white_smoke;
          cursor: pointer;
          transition: all 0.5s;
          font-family: $font-secondary;
          p {
            margin: 0;
          }
          &:hover {
            background-color: $buttons_hover;
            transition: all 0.5s;
          }
        }
        .btn_google {
          @extend .btn;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          background-color: $white;
          color: black;
          img {
            width: 35px;
          }
          &:hover {
            background-color: $white_smoke;
          }
        }
      }
    }
  }
  .hr {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 1px;
    border: 1px solid $white;
  }
  .register {
    text-align: center;
    gap: 5px;
    .link {
      text-decoration: none;
    }
  }
}
