@import "@/styles/colors.scss";
@import "@/styles/fonts.scss";

.container_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 38px;
  height: 100%;
  text-align: center;
  .title {
    width: 100%;
    font-family: $font_primary;
    font-weight: bold;
    color: $blue;
    font-size: 2rem;
  }
  .sub_title {
    text-align: center;
    padding: 10px;
  }
}
