/* Footer.scss */

.footer {
  background-color:  #37406d;
  color: #fff;
  padding:  20px;
  .footerLinks{
    margin: 40px 0 0 0;
    background-color:  #37406d;
  .footerLink{
    background-color:  #37406d;
    
    color: #fff;
  }
  .links{
    .link{
      background-color: #37406d;
      color: #fff;
     
     
    }
  }
  .accordion-button{
    background-color: transparent;
    color: #fff;
    }
    
}
  .icons{
    margin: 40px 0 20px 0;
   
  }
  .contacts{
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
  }
  
}

.footerInfo{
  background-color:   #1b2234;
  color: #fff;
  padding: 16px 20px 0 20px;
  font-family: "Roboto Italic", "Roboto", sans-serif;
  line-height: 20px;

  .footerInfoItalico{
    font-family: "Roboto Italic", "Roboto", sans-serif;
    font-style: italic;
    color: rgba(255, 255, 255, 0.5);
  }
}





.col {
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
    

  }
}
.custom-div {
  background-color: #1b2234;
  color: #fff;
  padding: 10px 80px 30px 20px;
  text-align: center;
  width: 100vw;
}
.contact{
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: '#fff';
}
