.card{
  background-image: url('../../../public/icon/hammer.svg');
  background-size: cover;
  background-position: right  center ;
  background-repeat: no-repeat; 
  background-size: 25%; 
  background-color: #37406d;
}