.container {
  padding: 60px 0;
  .title {
    text-align: left;
    padding: 30px 10px;
  }
  .container_content {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .about {
      font-family: "Roboto";
      font-size: 18px;
    }
  }
}
