.container {
  padding: 15px 5px;
  .card {
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 100%;
    box-shadow: 6px 6px 5px -5px rgba(0, 0, 0, 0.75);
    .favorite {
      position: absolute;
      right: 15px;
      top: 10px;
      cursor: pointer;
    }
    .pre_lance {
      padding: 5px 25px;
    }
    .breed {
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      gap: 10px;
    }
    .img {
      width: 100%;
      height: 100%;
    }
  }
}
.container_desktop {
  display: flex;
  width: 100%;
  height: 100%;
}
.container_mobile {
  display: none;
  @extend .container_desktop;
}
.container_tablet {
  display: none;
  @extend .container_desktop;
}
@media (max-width: 1200px) {
  .container_desktop {
    display: none;
  }
  .container_mobile {
    display: none;
  }
  .container_tablet {
    display: flex;
  }
}
@media (max-width: 770px) {
  .container_desktop {
    display: none;
  }
  .container_tablet {
    display: none;
  }
  .container_mobile {
    display: flex;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
      max-width: 100%;
    }
  }
}
@media (max-width: 340px) {
  .container {
    .card {
      .card_body {
        img {
          width: 22px;
          height: 12px;
        }
      }
      .breed {
        font-size: 4.2vw;
      }
      .pre_lance {
        strong {
          font-size: 3.4vw;
        }
      }
    }
  }
}
@media (max-width: 370px) {
  .container {
    .card {
      .card_body {
        font-size: 4vw;
      }
      .breed {
        font-size: 4.2vw;
      }
      .pre_lance {
        strong {
          font-size: 3.4vw;
        }
      }
    }
  }
}
