.customCard {
  background-image: url('../../../public/img/normal_appaloosa.svg');
  background-size: cover;
  background-position: right -6.5rem  top -5% ;
  background-repeat: no-repeat; 
  background-size: 100%; 
}