@import "@/styles/colors.scss";
@import "@/styles/fonts.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  .container_buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .btn {
        max-width: 120px;
        padding: 5px 10px;
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
