/* Header.scss */

.header {
  background-color: #37406d !important;

  .links {
    margin-top: 40px;

    .link {
      background-color: #37406d;
      color: #fff !important;
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }
  }
}
