@import "@/styles/colors.scss";
@import "@/styles/fonts.scss";

.container {
  padding: 60px 0;
  padding-bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container_header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $blue;
    text-align: center;
    .title {
      font-size: 21px;
      margin: 0;
      color: $buttons_login;
      font-family: "Roboto", Arial;
      margin-bottom: -5px;
    }
    .sub_title {
      margin: 0;
      text-align: center;
      color: $white;
      font-size: 35px;
      font-family: "Roboto Slab", Arial;
      font-weight: 700;
    }
  }
  .container_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    table {
      width: 100%;
      max-width: 500px;
      tr {
        td {
          border: 1px solid black;
          padding: 5px 10px;
          p {
            margin: 0;
          }
          span {
            font-style: italic;
            font-size: 13px;
          }
        }
        .link {
          color: $blue_link;
        }
        .nav {
          padding: 15px 10px;
          background-color: $blue;
          color: $white;
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .container {
    .container_header {
      .title {
        font-size: 20px;
      }
      .sub_title {
        font-size: 28px;
      }
    }
    .container_data {
      .form {
        .container_title {
          h2 {
            font-size: 22px;
          }
        }
      }
    }
  }
}
@media (max-width: 380px) {
  .container {
    .container_data {
      table {
        tr {
          td {
            font-size: 4vw;
          }
        }
      }
    }
  }
}
