$grey: #999999;
$light_black: #333333;
$blue: #37406d;
$white_smoke: #d7d7d7;
$white_home_contact: #f2f2f2;
$white: #ffff;
$black: rgb(0, 0, 0);
$blue_link: #0000ff;
$buttons_login: #02a2e9;
$buttons_shadow: rgba(0, 0, 0, 0.35);
$buttons_hover: #025e86;
$whatsapp: #25d366;
$whatsapp_header: #056056;
$whatsapp_background: #d2ae6d;
$red: #e5020d;
$lotes_title: #81d3f8;
$lotes_male: #055f86;
$lotes_male_bg: #bad7e4;
$lotes_female: #a14e80;
$lotes_female_bg: #e2c2d5;
