$grey: #999999;
$light_black: #333333;
$blue: #37406d;
$white_smoke: #d7d7d7;
$white: #ffff;
$black: rgb(0, 0, 0);
$blue_link: #0000ff;
$buttons_login: #02a2e9;
$buttons_shadow: rgba(0, 0, 0, 0.35);
$buttons_hover: #025e86;
$whatsapp: #25d366;
$whatsapp_header: #056056;
$whatsapp_background: #d2ae6d;
$new_color: #fff;
